<a href="https://colab.research.google.com/github/myielin/dataMiningUTFPR/blob/master/rainPredict/rainPred.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Passos Iniciais
[Repositório no Github](https://github.com/myielin/dataMiningUTFPR/tree/master/rainPredict)

In [1]:
import pandas as pd

In [2]:
dados = pd.read_csv("https://raw.githubusercontent.com/myielin/dataMiningUTFPR/master/rainPredict/weatherAUS.csv")

In [3]:
dados[230:240]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
230,2009-07-19,Albury,3.2,14.1,0.6,NaN,NaN,NNE,24.0,ESE,...,94.0,65.0,1021.6,1019.8,8.0,8.0,7.8,13.5,No,No
231,2009-07-20,Albury,3.6,16.5,0.2,NaN,NaN,NW,39.0,NaN,...,95.0,53.0,1023.1,1018.4,8.0,NaN,7.1,16.3,No,No
232,2009-07-21,Albury,0.8,17.7,0.0,NaN,NaN,N,43.0,ENE,...,87.0,46.0,1019.7,1013.4,NaN,NaN,6.6,17.6,No,No
233,2009-07-22,Albury,6.6,12.3,0.0,NaN,NaN,W,44.0,ENE,...,74.0,81.0,1009.5,1006.2,7.0,8.0,11.3,10.2,No,Yes
234,2009-07-23,Albury,6.0,13.5,9.8,NaN,NaN,WNW,26.0,W,...,83.0,58.0,1015.1,1018.4,7.0,7.0,8.5,12.9,Yes,No
235,2009-07-24,Albury,-0.1,12.9,0.0,NaN,NaN,NW,22.0,NaN,...,87.0,58.0,1027.3,1025.4,NaN,2.0,3.7,11.6,No,No
236,2009-07-25,Albury,-0.3,12.2,0.0,NaN,NaN,NE,20.0,NaN,...,95.0,61.0,1026.8,1022.7,NaN,NaN,2.5,10.8,No,No
237,2009-07-26,Albury,2.1,9.8,0.0,NaN,NaN,SSE,13.0,NaN,...,85.0,74.0,1018.0,1013.7,5.0,NaN,4.4,9.6,No,No
238,2009-07-27,Albury,1.3,8.8,0.0,NaN,NaN,N,20.0,ENE,...,99.0,91.0,1019.9,1019.9,8.0,8.0,4.2,7.3,No,Yes
239,2009-07-28,Albury,4.2,12.7,3.8,NaN,NaN,WNW,31.0,NW,...,89.0,71.0,1024.0,1023.1,8.0,8.0,8.8,12.0,Yes,Yes

## Pré-processamento

### Exploração
 Primeiro serão executados alguns métodos para ter uma visão geral dos dados:

In [4]:
dados.shape

(145460, 23)

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [6]:
dados.isna().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

In [7]:
dados.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

### Limpeza

Uma vez que a quantidade de dados é muito grande e o número de nulos varia muito para cada atributo, serão realizadas técnicas de imputação nas colunas onde há um número muito grande de nulos e drop nas colunas onde a quantidade de nulos é menor. Dessa forma, espera-se obter equilíbrio entre precisão para o modelo e pouca perda de dados

A célula a seguir filtra todas as colunas que possuem menos de 10% do número total de linhas contendo dados nulos, ou seja, não é esperado que muito mais de 10% do total de dados sejam perdidos se excluídos

In [8]:
drops = []          # (como fazer de forma mais eficiente?)
print("Serão removidos:\n")
for c in dados.columns:
  if(dados[c].isna().sum() < dados.shape[0]* 0.1):     
    print(c, dados[c].isna().sum())
    drops.append(c)

dados.dropna(subset = drops, inplace = True)

Serão removidos:

Date 0
Location 0
MinTemp 1485
MaxTemp 1261
Rainfall 3261
WindGustDir 10326
WindGustSpeed 10263
WindDir9am 10566
WindDir3pm 4228
WindSpeed9am 1767
WindSpeed3pm 3062
Humidity9am 2654
Humidity3pm 4507
Temp9am 1767
Temp3pm 3609
RainToday 3261
RainTomorrow 3267

In [9]:
dados.shape    # Verificar a remoção dos dados pela redução no numero de linhas

(121790, 23)

In [10]:
# verificar onde restam dados nulos
dados.isna().sum()

Date                 0
Location             0
MinTemp              0
MaxTemp              0
Rainfall             0
Evaporation      49901
Sunshine         55069
WindGustDir          0
WindGustSpeed        0
WindDir9am           0
WindDir3pm           0
WindSpeed9am         0
WindSpeed3pm         0
Humidity9am          0
Humidity3pm          0
Pressure9am       8830
Pressure3pm       8779
Cloud9am         45397
Cloud3pm         46740
Temp9am              0
Temp3pm              0
RainToday            0
RainTomorrow         0
dtype: int64

**Imputação de dados:** pelo método describe é possível ter uma noção de comportamento dos atributos para selecionar os métodos de preenchimento de informações

Como o intervalo entre máximos e mínimos é muito grande em Evaporation, os valores nulos serão preenchidos usando a mediana, enquanto os dados de Sunshine, com intervalo significativamente menor, serão preenchidos utilizando a média

In [11]:
dados["Evaporation"].fillna(dados["Evaporation"].median(), inplace=True)
dados["Sunshine"].fillna(dados["Sunshine"].mean(), inplace=True)

Para os atributos que denotam características similares serão testados os métodos bfill e ffill, que também são semelhantes entre si

In [12]:
dados["Pressure9am"].fillna(method="bfill", inplace=True)
dados["Pressure3pm"].fillna(method="ffill", inplace=True)
dados["Cloud9am"].fillna(method="ffill", inplace=True)
dados["Cloud3pm"].fillna(method="bfill", inplace=True)

Por fim, checar novamente se todos os dados nulos foram returados

In [32]:
dados.isna().any()

Date             False
Location         False
MinTemp          False
MaxTemp          False
Rainfall         False
Evaporation      False
Sunshine         False
WindGustDir      False
WindGustSpeed    False
WindDir9am       False
WindDir3pm       False
WindSpeed9am     False
WindSpeed3pm     False
Humidity9am      False
Humidity3pm      False
Pressure9am      False
Pressure3pm      False
Cloud9am         False
Cloud3pm         False
Temp9am          False
Temp3pm          False
RainToday        False
RainTomorrow     False
dtype: bool

#### Transformação de dados categóricos
Primeiro serão verificados todos os possíveis valores de cada atributo. Atributos nominais que possuem uma quantidade pequena de diferentes valores serão transformados em 0 ou 1, enquanto atributos que possuem muitos valores distintos serão transformados em ordinais visando evitar a criação desnecessária e excessiva de novas colunas no conjunto de dados

In [14]:
# verificar quais dados são categóricos

c = [d for d in dados.columns if dados[d].dtypes != "float64"]
c

['Date',
 'Location',
 'WindGustDir',
 'WindDir9am',
 'WindDir3pm',
 'RainToday',
 'RainTomorrow']

In [15]:
for i in c:
  print("valores em ", i, dados[i].unique())

valores em  Date ['2008-12-01' '2008-12-02' '2008-12-03' ... '2008-09-08' '2008-10-17'
 '2008-10-26']
valores em  Location ['Albury' 'BadgerysCreek' 'Cobar' 'CoffsHarbour' 'Moree' 'NorahHead'
 'NorfolkIsland' 'Penrith' 'Richmond' 'Sydney' 'SydneyAirport'
 'WaggaWagga' 'Williamtown' 'Wollongong' 'Canberra' 'Tuggeranong'
 'MountGinini' 'Ballarat' 'Bendigo' 'Sale' 'MelbourneAirport' 'Melbourne'
 'Mildura' 'Nhil' 'Portland' 'Watsonia' 'Dartmoor' 'Brisbane' 'Cairns'
 'GoldCoast' 'Townsville' 'Adelaide' 'MountGambier' 'Nuriootpa' 'Woomera'
 'Witchcliffe' 'PearceRAAF' 'PerthAirport' 'Perth' 'SalmonGums' 'Walpole'
 'Hobart' 'Launceston' 'AliceSprings' 'Darwin' 'Katherine' 'Uluru']
valores em  WindGustDir ['W' 'WNW' 'WSW' 'NE' 'NNW' 'N' 'NNE' 'SW' 'ENE' 'SSE' 'S' 'NW' 'SE' 'ESE'
 'E' 'SSW']
valores em  WindDir9am ['W' 'NNW' 'SE' 'ENE' 'SW' 'SSE' 'S' 'NE' 'SSW' 'N' 'WSW' 'ESE' 'E' 'NW'
 'WNW' 'NNE']
valores em  WindDir3pm ['WNW' 'WSW' 'E' 'NW' 'W' 'SSE' 'ESE' 'ENE' 'NNW' 'SSW' 'SW' 'SE' 'N' 'S'
 'NNE' 'NE']
valores em  RainToday ['No' 'Yes']
valores em  RainTomorrow ['No' 'Yes']

Dado que a maior parte das colunas possui muitos valores únicos, não será possível utilizar o método hot encoder, então será aplicado o encoder ordinal

In [16]:
from sklearn.preprocessing import OrdinalEncoder

In [17]:
for i in c[:-2]:              
  enc = OrdinalEncoder()
  dados[i] = enc.fit_transform(dados[[i]])

In [18]:
# (é possível juntar em uma só função?)
dados["RainToday"] = dados["RainToday"].apply(lambda x: 1 if x == "Yes" else 0)
dados["RainTomorrow"] = dados["RainTomorrow"].apply(lambda x: 1 if x == "Yes" else 0)

É possível checar um intervalo de dados após todas as transformações:

In [19]:
dados[230:240]

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
301,678.0,1.0,5.5,17.9,0.0,4.8,7.726233,13.0,43.0,13.0,...,79.0,56.0,1012.3,1009.9,5.0,1.0,9.2,16.8,0,0
302,679.0,1.0,1.7,17.0,0.0,4.8,7.726233,7.0,19.0,0.0,...,73.0,49.0,1015.6,1013.4,5.0,7.0,9.4,16.2,0,0
303,680.0,1.0,4.0,21.4,0.0,4.8,7.726233,6.0,35.0,0.0,...,75.0,36.0,1018.0,1013.4,5.0,7.0,11.3,20.9,0,0
304,681.0,1.0,8.9,21.1,0.0,4.8,7.726233,11.0,28.0,3.0,...,76.0,61.0,1012.4,1008.8,5.0,7.0,12.9,19.4,0,0
305,682.0,1.0,11.7,22.0,0.0,4.8,7.726233,9.0,30.0,8.0,...,68.0,55.0,1009.6,1004.9,5.0,7.0,16.1,20.6,0,1
306,683.0,1.0,8.5,13.5,3.2,4.8,7.726233,10.0,31.0,2.0,...,87.0,75.0,1014.0,1015.1,7.0,7.0,9.6,13.0,1,1
309,686.0,1.0,5.2,16.2,0.0,4.8,7.726233,9.0,37.0,1.0,...,85.0,77.0,1020.2,1018.3,2.0,2.0,8.8,10.0,0,1
311,688.0,1.0,1.2,16.3,0.0,4.8,7.726233,2.0,39.0,0.0,...,65.0,43.0,1024.0,1023.2,2.0,1.0,7.8,15.7,0,0
312,689.0,1.0,3.2,18.2,0.0,4.8,7.726233,10.0,33.0,2.0,...,63.0,39.0,1027.7,1025.7,2.0,1.0,11.8,17.8,0,0
313,690.0,1.0,4.6,19.0,0.0,4.8,7.726233,9.0,22.0,9.0,...,55.0,36.0,1029.5,1025.7,2.0,1.0,11.2,17.3,0,0

#### Padronização dos dados numéricos

Uma vez que é difícil inferir quais atributos seguem distribuição normal, a padronização dos dados será feita utilizando o método minMax

In [30]:
from sklearn.preprocessing import MinMaxScaler

In [31]:
y = dados["RainTomorrow"].values
x = dados.drop(["RainTomorrow"], axis=1).values

sc = MinMaxScaler()
modelo = sc.fit_transform(x)

## Modelos de classificação

In [79]:
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from numpy import mean, std

In [23]:
x_treino, x_teste, y_treino, y_teste = tts(x, y, test_size=0.25, random_state=42)

In [39]:
kfold = KFold(n_splits = 5, shuffle=True, random_state = 42)

### SVM

In [54]:
from sklearn.svm import SVC

In [55]:
svm = SVC(random_state=42,C = 1)
svm.fit(x_treino, y_treino)

SVC(C=1, random_state=42)

In [58]:
svm_r = svm.predict(x_teste)
accuracy_score(y_teste, svm_r)

0.8153901734104047

### Random Forest

In [24]:
from sklearn.ensemble import RandomForestClassifier

In [25]:
rf = RandomForestClassifier(n_estimators=500)
rf.fit(x_treino, y_treino)

RandomForestClassifier(n_estimators=500)

In [26]:
rf_r = rf.predict(x_teste)
accuracy_score(y_teste, rf_r)

0.8620927482921703

In [36]:
rf_cross = cross_val_score(rf, x, y, cv=kfold)

In [37]:
print(f"Resultado da validação cruzada média: {rf_cross.mean() *100}%")

Resultado da validação cruzada média: 86.30183102060924%

### RNA

In [40]:
from sklearn.neural_network import MLPClassifier

In [41]:
rna = MLPClassifier(hidden_layer_sizes = (10))
rna.fit(x_treino, y_treino)

MLPClassifier(hidden_layer_sizes=10)

In [42]:
rna_r = rna.predict(x_teste)
accuracy_score(y_teste, rna_r)

0.8313518129269575

In [44]:
rna_cross = cross_val_score(rna, x, y, cv=kfold)

In [45]:
print(f"Resultado da validação cruzada média: {rna_cross.mean() *100}%")

Resultado da validação cruzada média: 82.24566877411938%

### Naive Bayes

In [46]:
from sklearn.naive_bayes import GaussianNB

In [47]:
nb = GaussianNB()
nb.fit(x_treino, y_treino)

GaussianNB()

In [48]:
nb_r = nb.predict(x_teste)
accuracy_score(y_teste, nb_r)

0.8033368365738308

In [52]:
nb_cross = cross_val_score(nb, x, y, cv=kfold)

In [53]:
print(f"Resultado da validação cruzada média: {nb_cross.mean() *100}%")

Resultado da validação cruzada média: 80.49265128499876%

## Verificações finais e conclusão

Como é possível observar, as validações cruzadas simples retornaram valores muito próximos dos testes de pontuação padrão, o que indica confiabilidade nos resultados para métodos não estratificados.

Para a inferência final dos resultados, dois modelos serão treinados e validados por meio do método k-fold para validação cruzada estratificada, sendo eles:
- O modelo Random forest, que apresentou melhor acuracidade e em tempo médio de execução;
- O modelo Naive Bayes, que apresentou menor precisão, mas com melhor otimização de tempo.

In [80]:
skf = StratifiedKFold()

def strat(modelo):
  scores = []

  for i_treino, i_teste in skf.split(x, y):
   fx_treino, fx_teste = x[i_treino], x[i_teste]
   fy_treino, fy_teste = y[i_treino], y[i_teste]
   modelo.fit(fx_treino, fy_treino)
   scores.append(modelo.score(fx_teste, fy_teste))

  print("Scores totais: ", scores)  
  print("\nPrecisões:\n")
  print("mínima: ", min(scores)*100)
  print("máxima: ", max(scores)*100)
  print("média: ", mean(scores)*100)
  print("Desvio Padrão: ", std(scores)*100)

In [81]:
strat(nb)

Scores totais:  [0.8113556121192216, 0.7639789802118401, 0.7716561294030708, 0.8280647015354299, 0.8258888250266853]

Precisões:

mínima:  76.397898021184
máxima:  82.80647015354299
média:  80.01888496592497
Desvio Padrão:  2.7157021950732294

In [82]:
strat(rf)

Scores totais:  [0.8540520568191149, 0.8386567041629034, 0.8417357746941456, 0.8572953444453567, 0.851178257656622]

Precisões:

mínima:  83.86567041629034
máxima:  85.72953444453567
média:  84.85836275556287
Desvio Padrão:  0.7182850854571102